# gradle
BUSources1.16.1/
remappedSrc/
.gradle/
build/
out/
classes/
deps/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
runS/
/remappedSrc/
Resources/
